h1{
    color: magenta;
    text-decoration: underline;
    text-decoration-color: blue;
}

h2{
    background-color: greenyellow;
    color: rebeccapurple;
    border: solid black 2px;
    padding: 50px;
}

.info{
    background-color:rgb(255, 131, 185);
    border-left-width: 6px;
    border-left-style: solid;
    border-left-color: rgb(266, 0, 116);
    padding: 5px;
}